<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head">
</head>

<body>
<div th:replace="layout/layout :: sidebar"></div>
<div class="main-panel">
    <nav th:replace="layout/layout :: navbar"></nav>
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark" th:text="${editCreate}">Lista de Empleados</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/" th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a href="/" th:href="@{/empleados/}">Lista de empleados</a></li>
                    <li class="breadcrumb-item active" th:text="${editCreate}">Administrar</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Material form contact -->
                <div class="card">
                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Empleado: <span th:text="${empleado.nombres}"></span></strong>
                    </h5>
                    <br/>
                    <hr/>
                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">
                        <div th:if="${errorCount > 0}" class="alert alert-danger" role="alert">
                            Error al intentar guardar el empleado. Intente de nuevo, o pongase en contacto con
                            el administrador del sistema.
                            <p th:each="fieldEr : ${fieldError}" th:text="${fieldEr.field}"></p>
                        </div>
                        <!-- Form -->
                        <form th:object="${empleado}" style="color: #757575;" method="POST"
                              th:action="@{/empleados/save/{id}(id=${empleado.id})}" action="#">
                            <div class="container-fluid">
                                <div class="row">
                                    <!-- Nombres -->
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="nombres" class="bmd-label-floating">Nombre del
                                                empleado</label>
                                            <input type="text" class="form-control" id="nombres" name="nombres"
                                                   th:value="*{nombres}" th:field="*{nombres}"/>
                                            <!--<span class="bmd-help">We'll never share your email with anyone else.</span>-->
                                        </div>
                                    </div>

                                    <!-- Apellidos -->
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="apellidos" class="bmd-label-floating">
                                                Apellidos del empleado
                                            </label>
                                            <input type="text" class="form-control" id="apellidos" name="apellidos"
                                                   th:value="*{apellidos}" th:field="*{apellidos}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Direccion -->
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="direccion" class="bmd-label-floating">Direccion del
                                                empleado</label>
                                            <input type="text" class="form-control" id="direccion" name="direccion"
                                                   th:value="*{direccion}" th:field="*{direccion}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Identificacion -->
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="identificacion" class="bmd-label-floating">Cedula del
                                                empleado</label>
                                            <input type="text" class="form-control" id="identificacion"
                                                   name="identificacion" th:value="*{identificacion}"
                                                   th:field="*{identificacion}"/>
                                        </div>
                                    </div>
                                    <!-- INSS -->
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="inss" class="bmd-label-floating">No INSS del
                                                empleado</label>
                                            <input type="text" class="form-control" id="inss" name="inss"
                                                   th:value="*{inss}" th:field="*{inss}"/>
                                        </div>
                                    </div>
                                    <!-- Numero del empleado en planilla -->
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="numEmpleado" class="bmd-label-floating">No del
                                                empleado</label>
                                            <input type="text" class="form-control" id="numEmpleado"
                                                   name="numEmpleado" th:value="*{numEmpleado}"
                                                   th:field="*{numEmpleado}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Fecha de ingreso del empleado -->
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <!-- input with datepicker -->
                                        <div class="form-group">
                                            <label for="fechaIng" class="label-control">Fecha de ingreso</label>
                                            <input id="fechaIng" name="fechaIng" th:field="*{fechaIng}"
                                                   th:value="*{fechaIng}" type="text" data-date-format="yyyy-mm-dd"
                                                   class="form-control date-picker" data-datepicker-color="secondary">
                                        </div>
                                        <!--<div class="form-group">
                                        <label for="fechaIng" class="label-control">Fecha de ingreso</label>
                                        <input id="fechaIng" name="fechaIng" type="text"
                                               th:field="*{fechaIng}" class="form-control datetimepicker"
                                               value="10/05/2020" th:value="*{fechaIng}"/>
                                    </div>-->
                                    </div>
                                    <!-- Fecha de nacimiento del empleado -->
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="fechaNac" class="label-control">Fecha de nacimiento</label>
                                            <input id="fechaNac" name="fechaNac" th:value="*{fechaNac}"
                                                   th:field="*{fechaNac}" type="text" data-date-format="yyyy-mm-dd"
                                                   class="form-control date-picker" data-datepicker-color="secondary">
                                        </div>
                                        <!--<div class="form-group">
                                        <label for="fechaNac" class="label-control">Fecha de nacimiento</label>
                                        <input id="fechaNac" name="fechaNac" type="text"
                                               class="form-control datetimepicker" value="10/05/2020"
                                               th:value="*{fechaNac}" th:field="*{fechaNac}"/>
                                    </div>-->
                                    </div>
                                    <!-- Salario base del empleado -->
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="salarioBase" class="bmd-label-floating">
                                                Salario base del empleado
                                            </label>
                                            <input type="text" class="form-control" id="salarioBase"
                                                   name="salarioBase" th:value="*{salarioBase}"
                                                   th:field="*{salarioBase}"/>
                                        </div>
                                    </div>
                                    <!-- Empleado Activo -->
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" name="activo" id="activo"
                                                       type="checkbox" th:value="*{activo}" th:field="*{activo}"
                                                       value=""/>
                                                Empleado activo?
                                                <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="departamento">Departamento</label>
                                        <select id="departamento" th:field="*{departamento}" class="selectpicker"
                                                data-style="btn btn-danger" data-live-search="true">
                                            <option th:each="departamento: ${findAllDepartamentos}"
                                                    th:value="${departamento.id}" th:text="${departamento.descripcion}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="cargo">Cargo</label>
                                        <select id="cargo" th:field="*{cargo}" class="selectpicker"
                                                data-style="btn btn-primary" data-live-search="true">
                                            <option th:each="cargo: ${findAllCargos}" th:value="${cargo.id}"
                                                    th:text="${cargo.descripcion}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Send button -->
                                    <button
                                            class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                                            type="submit">Guardar
                                    </button>
                                </div>
                            </div>

                        </form>
                        <!-- Form -->
                    </div>
                </div>
            </div>
            <!-- Material form contact -->
        </div>

        <!-- /.content -->
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</div>
<div th:replace="layout/layout :: script"></div>
<script>
    $(document).ready(function () {
        //init DateTimePickers
        /*materialKit.initFormExtendedDatetimepickers({
            format: 'yyyy/mm/dd'
        });*/
        //javascript for init
        $('.date-picker').each(function () {
            $(this).datepicker({
                templates: {
                    leftArrow: '<i class="now-ui-icons arrows-1_minimal-left"></i>',
                    rightArrow: '<i class="now-ui-icons arrows-1_minimal-right"></i>'
                }
            }).on('show', function () {
                $('.datepicker').addClass('open');

                datepicker_color = $(this).data('datepicker-color');
                if (datepicker_color.length != 0) {
                    $('.datepicker').addClass('datepicker-' + datepicker_color + '');
                }
            }).on('hide', function () {
                $('.datepicker').removeClass('open');
            });
        });

        $(function () {
            var element = document.getElementById("linkEmpleados");
            element.classList.toggle("active");
        });
    });
</script>
</body>

</html>